@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Outfit:wght@200&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');/*
/*FONTS*/
:root {
    --titulo: 'Josefin Sans', sans-serif;
    --texto: 'Outfit', sans-serif;
    --texto2: 'Raleway', sans-serif;
}

/*COLORS*/
:root {
    --black: #121212;
    --white: #fff;
    --gray: #333;
    --engineering-orange: rgb(214, 10, 10);
    }

/*RESET E PADRÕES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--texto);
}

body {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    color: var(--gray);
}

/*IMAGENS*/
header .logo img {
    width: 200px;
    margin: 20px;
}

/*CONTEÚDO*/

/*--------------HEADER--------------*/

header {
    border-bottom: var(--engineering-orange) 3px solid;
    position: relative;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 10;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--black);
    border-bottom: var(--engineering-orange) solid 2px;
}

header .btns {
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
    color: var(--white);
    font-size: 20px;
}

header input {
    width: 15rem;
    height: 2rem;
    border-radius: 15px;
    padding: 10px;
}

header #search_btn {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

header #search_btn:hover {
    color: var(--engineering-orange);
}

header #menu_btn {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

header #menu_btn:hover {
    color: var(--engineering-orange);
}

header .hidden {
    position: relative;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    transform: translateY(-60px);
    transition: all 0.5s ease-in-out;
}

header .show {
    position: relative;
    right: 0;
    left: 0;
    pointer-events: auto;
    transform: translateY(0);
    z-index: -1;
    transition: transform 0.5s ease-in-out;
}

header #another ul {
    display: flex;
    gap: 100px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: var(--engineering-orange) 1px solid;
    border-bottom: var(--engineering-orange) 3px solid;
    background: var(--black);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

header #another li {
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    color: var(--black);
    font-family: var(--titulo);
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header #another li:hover {
    background-color: var(--black);
    color: var(--white);
    box-shadow:  var(--engineering-orange) 0px 0px 5px;
}



/*--------------MAIN--------------*/

main {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 100;
}

main .info {
    display: grid;
    grid-template-areas: 
    "text btns";
    grid-template-columns: 60% 40%;
    width: 100%;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    gap: 10px;
    background: radial-gradient(var(--gray), var(--black));
    color: var(--white);
}

/*texto*/
main .info .text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

main .info .text h1 {
    margin: 10px;
    font-family: var(--titulo);
    font-size: 35px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: var(--engineering-orange);
}

main .info .text p {
    width: 100%;
    font-family: var(--texto2);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*botões*/

main .info .btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main .info #mood_btn {
    cursor: pointer;
    padding: 20px;
    font-size: 25px;
    font-family: var(--titulo);
    border-radius: 15px;
    border: none;
    background-color: var(--white);
    box-shadow: var(--black) 0px 0px 15px 5px;
    transition: all 0.5s ease-in-out;
}

main .info #mood_btn:hover {
    background-color: var(--black);
    color: white;
    box-shadow: var(--engineering-orange) 0px 0px 10px;
}

main .info #skip_btn {
    cursor: pointer;
    font-size: 10px;
    font-family: var(--titulo);
    color: var(--white);
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    box-shadow: var(--black) 0px 0px 15px 5px;
    transition: all 0.6s ease-in;
}

main .info #skip_btn:hover {
    box-shadow: var(--engineering-orange) 0px 0px 10px 
}